@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

* {
  font-family: "Orbitron", "sans-serif" !important;
}

.spinner {
  display: block;
  margin: auto;
  width: 200px;
  justify-content: center;
}

.button-pagination {
  display: block;
  margin: auto;
  width: 200px;
  justify-content: center;
  padding: 5em;
}
